<h1>we have <%= @players.count%> Players</h1>

<table>
  <thead>
    <tr>
      <td>First name</td>
      <td>Last</td>
      <td>Actions</td>
    </tr>
  <thead> 
  <tbody id="body">
    <% @players.each do |player|%>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td>
          <a href="/players/<%= player.id %>">Show</a> |
          <a href="/players/<%= player.id %>/edit">Edit</a> |
          <span><%= link_to "Delete", players_path(player.id), data: {method: :delete, confirm: "Are you sure?" } %><span>
        </td>  
      </tr>
    <% end %>  
  </tbody>
</table>

<a href="/players/new">New Player</a>